<div ng-controller="UsersIndexController as usersIndex" id="chartBox">
  <canvas id="myChart" fixedwidth="20" height="200"></canvas>
  <progress id="progressbar" style="width: 100%" value="25" max="100"></progress>

  <button ng-click="usersIndex.dailyChart()">Daily</button>
  <button ng-click="usersIndex.weeklyChart()">Weekly</button>
  <button ng-click="usersIndex.monthlyChart()">Monthly</button>
  <p>Diet Profile</p>
  <button ui-sref="select">Back</button>
  <button ui-sref="dietFriends">Friends</button>

  <label for="calories">Calories per day</label>
  <input type="number" id="calories" placeholder="{{ usersIndex.currentUser.dietGoals }}" ng-model="usersIndex.currentUser.goal">
  <label for="targetDate">Untill</label>
  <input type="date" id="targetDate" ng-model="usersIndex.currentUser.targetDate">
  {{ usersIndex.currentUser.dietGoalDates }}
  <button ng-click="usersIndex.setGoals(usersIndex.currentUser)">Set Goals</button>
</div>



<section ng-controller="MainController as main">
  <h4>{{main.caloryCounter}}</h4>
  <button ng-click="main.todaysCals()" id='calculate'>Calculate</button>
</section>
