<section ng-controller="financeMainController as financeMain">
  <canvas id="myChart1" fixedwidth="20" height="200"></canvas>
</section>

<section class="newFinanceBox">
  <form ng-submit="finances.create()" method="post">
    <select name="category" class="display" ng-model="finances.financesNew.category">
      <option value="Entertainment">Entertainment</option>
      <option value="Food">Food</option>
      <option value="Utilities">Utilities</option>
      <option value="Rent">Rent</option>
      <option value="Other">Other</option>
    </select>
    <input class="display" type="number" name="amountSpent" ng-model="finances.financesNew.amountSpent" placeholder="Amount Spent (£)">
    <button>Add purchase</button>
  </form>
</section>

<section class="financeList">
  <div class="amountSpent">
    <ul ng-repeat="finance in finances.all">
      <li>
        <h5>{{ finance.category }} £{{ finance.amountSpent }}</h5>
      </li>
      <button ng-click="finances.delete(finance._id)">X</button>
      <button ng-click="showForm = !showForm; finances.edit(finance._id)">Edit</button>

      <form ng-show="showForm" ng-submit="finances.update()" method="post">
        <!-- <input class="display" type="text" name="category" ng-model="finances.editFinance.category" > -->
        <select name="category" class="display" ng-model="finances.editFinance.category">
          <option value="Entertainment">Entertainment</option>
          <option value="Food">Food</option>
          <option value="Utilities">Utilities</option>
          <option value="Rent">Rent</option>
          <option value="Other">Other</option>
        </select>
        <input class="display" type="number" name="amountSpent" ng-model="finances.editFinance.amountSpent">
        <button class="display">Save</button>
      </form>
    </ul>
  </div>
</section>

<h1 id="budgetText"></h1>
