
<div class="landingContainer" style="   margin-top: 40px;">

<div class="row">

  <div class="twelve columns logo"><img id="logo" src="http://tbn.freelogodesign.org/0464a99f-cf18-4232-b3d5-b58719c963eb.png?1479841610808" alt="" /><h2>iTrack</h2></div>

</div>

<div class="row">
    <div class="six columns register" style=" height: 350px; margin-top: 20px;" ng-controller="RegisterController as register">
      <form novalidate ng-submit="register.submit()">
        <div class="row">
          <label></label>
          <input id="input1" class="u-full-width" type="text" placeholder="Name" ng-model="register.user.username">
        </div>
        <div class="row">
          <label></label>
          <input id="input1" class="u-full-width" type="email" placeholder="Email" ng-model="register.user.email">
        </div>
        <div class="row">
          <label></label>
          <input id="input1" class="u-full-width" type="password" placeholder="Password" ng-model="register.user.password">
        </div>
        <div class="row">
          <label></label>
          <input id="input1" class="u-full-width" type="password" placeholder="Password" ng-model="register.user.passwordConfirmation">
        </div>
        <button id="regButton" class="btn">{{ register.regButtonText }}</button>
      </form>
    </div>


    <div class="six columns login" style="height: 350px; margin-top: 20px; " ng-controller="LoginController as login">
      <form novalidate ng-submit="login.submit()">
        <div>
          <label></label>
          <input id="input1" class="u-full-width" type="email" placeholder="Email" ng-model="login.credentials.email">
        </div>
        <div class="row">
          <label></label>
          <input id="input1" class="u-full-width" type="password" placeholder="Password" ng-model="login.credentials.password">
        </div>
        <button class="btn">Login</button>
      </form>
      <button class="btn" ng-click="login.authenticate('facebook')">Login in with Facebook</button>
    </div>

  </div>



</div>







</div>
