<div ng-controller="financeMainController as financemain" class="chartBox">

  <canvas id="myChart1" fixedwidth="20" height="200"></canvas>

  <h2>Expense Tracker</h2>
  <div data-bind='simpleGrid: grid'>Text </div>
  <label>Transaction</label>
  <input data-bind='value: title, valueUpdate: "afterkeydown"' /><br />
  <label>Price</label>
  <input data-bind='value: price, valueUpdate: "afterkeydown"' /><br />
  <button data-bind="click: addItem, enable: title().length > 0 && price().length > 0 ">Add</button>
  <pre data-bind="text: ko.toJSON($root.transactions(), null, 2)"></pre>
