<section ng-controller="financeMainController as financeMain">
  <canvas id="myChart1" fixedwidth="20" height="200"></canvas>
</section>

<section class="row">
  <form ng-submit="finances.create()" method="post">
    <label class="display">Category:</label>
    <input class="display" type="text" name="category" ng-model="finances.financesNew.category">
    <label class="display">AmountSpent:</label>
    <input class="display" type="number" name="amountSpent" ng-model="finances.financesNew.amountSpent">
    <button>Add purchase</button>
  </form>
</section>

<section>
  <ul ng-repeat="finance in finances.all">
    <div class="amountSpent"><li> Category: {{ finance.category }} Price: {{ finance.amountSpent }} {{ finance.date }}</li><button ng-click="finances.delete(finance._id)">X</button>
    <button ng-click="showForm = !showForm; finances.edit(finance._id)">Edit</button>

    <form ng-show="showForm" ng-submit="finances.update()" method="post">
      <label class="display">Category:</label>
      <input class="display" type="text" name="category" ng-model="finances.editFinance.category" >
      <label class="display">AmountSpent:</label>
      <input class="display" type="number" name="amountSpent" ng-model="finances.editFinance.amountSpent">
      <button class="display">Save</button>
    </form></div>
  </ul>

</section>

<h1 id="budgetText"></h1>
