<div class="three columns" id="sidebar"> <button ng-click="showSidebar = !showSidebar">Sidebar</button>

<section ng-show="showSidebar">
  <button ng-click="showFoods = !showFoods">Add meal</button>
  <button ng-click="showGoals = !showGoals">Goals</button>
</section>


  <section ng-show="showFoods"  class="row" ng-controller="FoodsController as foods">
    <h4>Add a new meal:</h4>
    <form id="createFood" ng-submit="foods.create()" method="post">
      <label>Food/Drink/Meal eaten:</label>
      <input type="text" name="name" value="" ng-model="foods.foodsNew.name">
      <label>Calories:</label>
      <input type="number" name="calories" value="" ng-model="foods.foodsNew.calories">
      <!-- <label>Date:</label> -->
      <input type="hidden" name="date" value="" ng-model="foods.foodsNew.date">
      <button>Add meal</button>
    </form>
    <h4>My meals:</h4>
    <ul ng-repeat="food in foods.all" >
      <div class="meal"><li>Meal: {{ food.name }} Calories: {{ food.calories }}Date: {{food.date}}</li><button ng-click="foods.delete(food._id)">X</button>
        <button ng-click="showForm = !showForm; foods.edit(food._id)">Edit</button>

        <form ng-show="showForm" ng-submit="foods.update()" method="post">
          <label>Food/Drink/Meal eaten:</label>
          <input type="text" name="name" ng-model="foods.editFood.name" >
          <label>Calories:</label>
          <input type="number" name="calories" ng-model="foods.editFood.calories">
          <label>Date:</label>
          <input type="text" name="date" value="" ng-model="foods.editFood.date">
          <button class="add">Save</button>
        </form></div>
      </ul>
    </section>


    <section ng-show="showGoals" class="row">
      <h4>Add a new goal:</h4>
      <form id="createGoal" ng-submit="goals.create()" method="post">
        <label>Target:</label>
        <input type="text" name="target" value="" ng-model="goals.goalsNew.target">
        <label>Expiry:</label>
        <input type="text" name="expiry" value="" ng-model="goals.goalsNew.expiry">
        <button class="add">Add goal</button>
      </form>
    <h4>My goals:<h4>
    <ul ng-repeat="goal in goals.all" >
      <div class="meal"><li>Target: {{ goal.target }} Expiry: {{ goal.expiry }}</li>
        <button class="edit" ng-click="showForm = !showForm; goals.edit(goal._id)">E</button>
        <button class="delete" ng-click="goals.delete(goal._id)">X</button>

        <form ng-show="showForm" ng-submit="goals.update()" method="post">
          <label>Target:</label>
          <input type="text" name="target" ng-model="goals.editGoal.target" >
          <label>Expiry:</label>
          <input type="text" name="expiry" ng-model="goals.editGoal.expiry">
          <button class="add">Save</button>
        </form></div>
    </ul>
    </section>

    <section ng-controller="MainController as main">
      <button ng-click="main.logout()">LogOut</button>
    </section>
