<div class="landingContainer">
  <div class="logo"><img src="../images/logoImage.png" alt="image"/></div>
  <div class="register" ng-controller="RegisterController as register"><strong>REGISTER</strong>
    <form novalidate ng-submit="register.submit()">
      <div class="row">
        <label>Name:</label>
        <input id"input1" class="u-full-width" type="text" placeholder="Name" ng-model="register.user.username">
      </div>
      <div class="row">
        <label>Email:</label>
        <input id"input1" class="u-full-width" type="email" placeholder="Email" ng-model="register.user.email">
      </div>
      <div class="row">
        <label>Password:</label>
        <input id"input1" class="u-full-width" type="password" placeholder="Password" ng-model="register.user.password">
      </div>
      <div class="row">
        <label>Password Confirmation:</label>
        <input id"input1" class="u-full-width" type="password" placeholder="Password" ng-model="register.user.passwordConfirmation">
      </div>
      <button class="btn">Register</button>
    </form>
  </div>
  <div class="login" ng-controller="LoginController as login"><strong>LOGIN</strong>
    <form novalidate ng-submit="login.submit()">
      <div class="row">
        <label>Email:</label>
        <input id"input1" class="u-full-width" type="email" placeholder="Email" ng-model="login.credentials.email">
      </div>
      <div class="row">
        <label>Password:</label>
        <input id"input1" class="u-full-width" type="password" placeholder="Password" ng-model="login.credentials.password">
      </div>
      <button class="btn">Login</button>
    </form>
    <button class="btn" ng-click="login.authenticate('facebook')">Login in with Facebook</button>
  </div>
</div>

<section ng-controller="MainController as main">
  <button ng-click="main.logout()">LogOut</button>
</section>
