<html>
  <head ng-app="foodApp">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    <header class="container">
      <h1>Project 3</h1>
      <nav ng-controller="MainController as main">
        <form novalidate ng-submit="login.submit()">
          <div class="row">
            <label>Email:</label>
            <input class="u-full-width" type="email" placeholder="Email" ng-model="login.credentials.email">
          </div>
          <div class="row">
            <label>Password:</label>
            <input class="u-full-width" type="password" placeholder="Password" ng-model="login.credentials.password">
          </div>
          <button>Login</button>
        </form>
        <form novalidate ng-submit="">
          <div class="row">
            <label>FullName:</label>
            <input class="u-full-width" type="name" placeholder="fullname" ng-model="">
          </div>
          <div class="row">
            <label>Email:</label>
            <input class="u-full-width" type="email" placeholder="Email" ng-model="">
          </div>
          <div class="row">
            <label>Password:</label>
            <input class="u-full-width" type="password" placeholder="Password" ng-model="">
          </div>
          <div class="row">
            <label>Password Confirmation:</label>
            <input class="u-full-width" type="password" placeholder="Password" ng-model="">
          </div>
          <button>Register</button>
        </form>
      </nav>
    </header>
    <main class="container" ui-view></main>
  </body>
</html>
