$brand-vivid-blue: #00A6FB;
$brand-dark-blue: #373A3C;
$brand-pink:#E01A4F;
$brand-yellow: #EAFC74;
$brand-grey:#F2F2F2;
$brand-green:#5CB85C;


$color1: #F7F7F2;
$color2: #0B0033;
$color3: #23CE6B;
$color4: #121113;
$color5: #3498DB;
