body {
  background-color: white;
}

img {
  width: 100%;
}

.meal {
  border: 2px solid black;
  border-radius: 5px;
}
h3 {
  text-align: center;
}

h1 {
  text-align: center;
}

.button,button,li{margin-bottom:0}

#sidebar {
  border: 2px solid white;
  border-radius: 5px;
  button{
    width: 100%;
    text-align: center;
    margin-bottom: none;
  }
  ul{
    margin: 0 auto;
  }
  li{
    margin: 0 auto;
  }
}

section {
  text-align: center;
}

#progressbar{
  width: 70%;
}

progress {
  background-color: teal;
  border: 5px;
  height: 20px;
  border-radius: 3px;
}

.profileBox {
  width: 20%;
}

.landing {
  margin-top: 10px;
}

.burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}

.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

header{
  float: left;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 15px;
  padding: 1px 0;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.goalBox {
  border: 1px black solid;
}


.add {
  background-color: lime;
  color: white;
}

#sidebar{
  button.edit{
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    color: white;
    background-color: blue;
  }
  button.delete {
    background-color: red;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 30px;
    color: white;
  }
}

 #clockdiv{
     font-family: sans-serif;
     color: #fff;
     display: inline-block;
     font-weight: 100;
     text-align: center;
     font-size: 30px;
 }

 #clockdiv > div{
     padding: 10px;
     border-radius: 3px;
     background: #00BF96;
     display: inline-block;
 }

 #clockdiv div > span{
     padding: 15px;
     border-radius: 3px;
     background: #00816A;
     display: inline-block;
 }

 .smalltext{
     padding-top: 5px;
     font-size: 16px;
 }

 .landingContainer{
   position: relative;
   top: 50px;
 }
 .logo{
   width: 400px;
   height: 200px;
   float: left;
   margin-left: 50px;
 }
 .register{
   border: solid black 1px;
   width: 400px;
   height: 486px;
   margin-right: 100px;
   float: right;
 }
 .login{
   border: solid black 1px;
   position: absolute;
   top: 250px;
   width: 400px;
   margin-left: 50px;
 }

 #input1 {
 text-align: center;
 background-color: #ECF0F1;
 border: 2px solid transparent;
 border-radius: 3px;
 font-size: 16px;
 font-weight: 200;
 padding: 10px 0;
 width: 250px;
 transition: border .5s;
 }

 #input1:focus {
 border: 2px solid #3498DB;
 box-shadow: none;
 }

 .btn {
   border: 2px solid transparent;
   background: #3498DB;
   color: #ffffff;
   font-size: 16px;
   line-height: 25px;
   padding: 10px 0;
   text-decoration: none;
   text-shadow: none;
   border-radius: 3px;
   box-shadow: none;
   transition: 0.25s;
   display: block;
   width: 250px;
   margin: 0 auto;
 }

 .btn:hover {
   background-color: #2980B9;
 }

img {
  height: 200px;
}

button {
  margin: auto;
  display: block;
}

strong {
  margin-left: 150px;
}
